body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
}

.navigation {
  background-color: #DEE2D2;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.form-container {
  width: 70%;
  margin: auto;
  font-size: 28px;
}

.form-group {
  display: flex;
  margin: 24px 0;
}

.form-group label {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}

.radio-group {
  width: 80%;
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea {
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: none;
}

.radio-group input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.radio-group input[type="radio"]:checked {
  border: 2px solid black;
  background-color: white;
  position: relative;
}

.radio-group input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: blue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.submit-button {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.submit-button:hover {
  background-color: #45a049;
}

