@charset "utf-8";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0px;
}

body {
  margin: 0px;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #472e3a;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #DFE2D2;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
}

footer {
  padding: 10px 20px;
  text-align: left;
  width: 100%;
}

main {
  height: 100%;
  padding-bottom: 30px;
}

form {
  border: none; /* 枠線を非表示にする */
  background: none; /* 背景色も非表示にする */
  padding: 0; /* 余白をなくす */
  cursor: pointer; /* ボタンのカーソルを設定 */
}


.clear {
  clear: left;
}
.product_img {
  /* margin: 0 auto; */
  text-align: center;
  /* height: 40%; */
  /* background-color: aquamarine; */
  width: auto;
  height: 100%;
  display: inline-block;
  padding: 20px;
}


.product_img img {
  height: 100%;
  width: auto;
}

.product_name {
  padding-top: 40px;
}
.product_name p {
  display: inline-block;
}
.favorite {
  padding-top: 10px;
}
.favorite p {
  display: inline-block;

}
.title {
  width: 80px;
  margin: 0px 20px;
  font-weight: bold;
  font-size: 20px;
}

.line {
  border-bottom: 2px solid #472e3a;
  margin: 0px;
  position: relative;
  bottom: 5px;
}

.comment {
  border: 2px solid #472e3a;
  margin-top: 50px;
  padding: 10px;
  height: 50%;
}

.fa-solid {
  font-size: 40px;
}
